.gig-details {
  &>section {
    // display: flex;
    // justify-content: center;

    display: grid;
    grid-template-columns: minmax(auto, 0.5fr) 1fr;

    margin-block-end: 2rem;
    padding: 64px 32px 0;

    @include for-medium-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card-container {
      margin-inline-end: 100px;

      grid-column: 1;

      @include for-medium-layout {

        text-align: center;
        margin: 0;
      }

      & img {
        max-width: 100%;
      }

      .card-user {
        display: flex;
        align-items: start;

        gap: 1rem;

        padding-block: 1rem;

        & img {
          max-width: 100%;
          border-radius: 4px;
        }
      }

      .card-packages {
        & table {
          border: 1px solid rgb(245, 240, 240);
          border-collapse: collapse;
          text-align: left;
          font-size: 1rem;
          font-weight: normal;

          color: #64646a;

          & tbody {

            & th,
            td {
              border: 1px solid rgb(245, 240, 240);
            }

            & th {
              border-block-end: 0;
            }

            & tr {
              & td {
                padding: 1rem;
                border-inline-end: 1px solid rgb(245, 240, 240);
              }
            }

            & tr:first-of-type {
              &th:first-of-type {
                border: 0;
                height: 100%;
              }
            }

            & tr:nth-child(2) {
              & td {
                border-block-start: 0;
              }
            }

            & tr:nth-child(3) {
              text-align: center;

              background-color: rgb(245, 240, 240);

              & td:first-of-type {
                text-align: left;
                white-space: nowrap;
              }
            }

            & tr:nth-child(4) {
              text-align: center;

              & td:first-of-type {
                text-align: left;
                white-space: nowrap;
              }
            }

            & tr:nth-child(5) {
              text-align: center;

              & td:first-of-type {
                text-align: left;
              }

              & button {
                width: 150px;

                padding-block: 0.8rem;
                border-radius: 4px;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                background-color: black;
              }
            }

            & tr:first-of-type {
              & th:first-of-type {
                display: flex;
                justify-content: start;
                align-items: start;

                height: 100%;

                padding: 1rem;
              }

              & .package-type-price {
                padding: 1rem;


                & b {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    & h3 {
      margin-block: 4rem 2rem;
    }

    .side-bar-container {
      grid-column: 2;
      // position: absolute;
      -webkit-box-ordinal-group: 21;
      -ms-flex-order: 20;
      -webkit-order: 20;
      order: 20;
      padding-bottom: 32px;
      // width: 35.42%;


      @include for-medium-layout() {
        display: none;
      }

      // background-color: #B25D1F;
    }
  }



  .side-bar {
    position: sticky;
    top: 100px;
    height: auto;
    padding: 0;

    .entry {
      border-inline-start: 1px solid lightgray;
    }

    .a12 {
      padding-block: 1rem;
      color: #62646a
    }

    .XBRgVA8 {
      color: #404145;

      &>b {
        color: #026a5d;
      }
    }

    .plans-desc-co {
      border-inline: 1px solid lightgray;
      border-block-end: 1px solid lightgray;
    }
  }
}

.gig-description {
  // max-width: 700px;
  padding: 32px 32px 0;
}


.carousel {
  position: relative;
  // display: flex;
  // align-items: center;

  .custom-prev-button {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: -12px;
    width: 48px;
    height: 48px;

    border-radius: 50%;

    opacity: 0%;

    transition: 0.5s;

    &:hover {
      opacity: 100%;
      translate: 30%;
    }
  }

  .custom-next-button {
    position: absolute;
    z-index: 3;
    top: 45%;
    right: -12px;
    width: 48px;
    height: 48px;

    border-radius: 50%;

    opacity: 0%;

    transition: 0.5s;

    &:hover {
      opacity: 100%;
      translate: -30%;
    }
  }
}

// .gig-title-details {

//   word-wrap: break-word;
//   overflow-wrap: break-word;
//   padding-bottom: 16px;


//   font-size: 24px;
//   line-height: 130%;

//   @media (min-width: 600px) {

//     font-size: 28px;

//   }
// }

// .side-bar-header {
//   justify-content: flex-end;
//   // gap: 12px;
//   margin-bottom: 10px;
//   padding-bottom: 16px;
// }

// .tooltiptry {
//   height: 100px;
//   width: 50px;
//   font-weight: 500;
//   font-size: 10px;
//   word-wrap: break-word;
// }

// .tooltiptry-co {

//   font-size: 10px;
// }

// .collect-num {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: 1px solid #dadbdd;
//   border-radius: 3px;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   color: #222325;
//   font-size: 14px;
//   margin-left: 13px;
//   padding: 2px 10px;
//   position: relative;
// }

// .mini-user-name {
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 26px;
// }

// .imagePresrnt {
//   height: 427px;

//   // width: 100px;
//   & img {
//     height: 100%;
//   }
// }

// .gig-main-layout {
//   -webkit-box-ordinal-group: 11;
//   -ms-flex-order: 10;
//   display: block;
//   margin-right: 5.5%;
//   -webkit-order: 10;
//   order: 10;
//   width: 50vw;

//   //overflow: visible;
//   @include for-medium-layout() {
//     width: 98vw;
//     //overflow: visible;
//   }
// }

// .carusel-img-present {
//   height: 427px;
//   position: relative;
// }

// .mini-user-img-container {
//   position: relative;
//   font-size: 64px;
//   background-color: #B25D1F;
//   border-radius: 9999px;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-align-items: center;
//   align-items: center;
//   height: 1em;
//   -webkit-justify-content: center;
//   justify-content: center;
//   margin: 0;
//   min-width: 1em;
//   overflow: hidden;
// }

// .mini-user-img {
//   height: 100%;
//   -o-object-fit: cover;
//   object-fit: cover;
//   position: absolute;
//   width: 100%;
// }

// .mini-user-container {
//   flex-direction: row-reverse;
//   justify-content: start;
//   align-items: center;
//   gap: 20px;
// }

// .mini-user-level {
//   margin-left: 20px;
//   border-width: 0;
//   border-left-width: 1px;
//   border-style: solid;
//   border-color: aqua;
//   gap: 5px;

// }

// .mini-user-level-txt {
//   margin-left: 5px;
// }

// .mini-user-level-stars {
//   align-items: center;
// }



// .side-bar-inner-container {
//   position: sticky;
//   top: 50px;
// }

// .side-bar-content {
//   position: relative;
//   transform: translate3d(0px, 0px, 0px);

// }

.side-bar-btns {
  -webkit-box-flex: 1;
  background-color: #fafafa;
  border: 1px solid #dadbdd;
  border-left: none;
  color: #74767e;
  cursor: pointer;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  font-size: 16px;
  font-weight: 700;

  text-align: center;

  &>* {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    -webkit-box-flex: 1;
    background-color: #fafafa;
    border: 1px solid #dadbdd;
    border-left: none;
    color: #74767e;
    cursor: pointer;
    -webkit-flex: 1 1;
    -ms-flex: 1 1;
    flex: 1 1;
    font-size: 16px;
    font-weight: 700;
    // padding: 16px;
    text-align: center;
    height: 49px;
  }

  &>.active {
    border-bottom: 3px solid #222325;
    color: #222325;
    background-color: rgb(255, 255, 255);
  }
}

.contact-container-inner {
  &>button:hover {
    background-color: #74767e;
  }

  &>button {
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 70ms cubic-bezier(.75, 0, .25, 1);
    transition: 70ms cubic-bezier(.75, 0, .25, 1);
    background: none;
    border-color: currentColor;
    color: black;
    width: 100%;
  }

}

.side-bar-contact {
  padding-inline: 24px;
  margin-top: 14px;
  background-color: #fafafa;
  gap: 12px;
  flex-direction: column;
  //padding: 10px;
}

// .gig-page {
//   padding-top: 32px;

//   // : 1084px;
//   //line: 32px;
//   // @include for-mobile-layout(){
//   //   flex-direction: column;
//   // }
//   @include for-medium-layout() {
//     flex-direction: column;
//     width: 95vw;
//   }
// }

// @mixin for-mobile-layout {
//   @media (max-width: $break-narrow) {
//     @content;
//   }
// }

// @mixin for-medium-layout {
//   @media (max-width: $break-mid) {
//     @content;
//   }
// }

// @mixin for-normal-layout {
//   @media (max-width: $break-normal) {
//     @content;
//   }
// }

// @mixin for-wide-layout {
//   @media (max-width: $break-wide) {
//     @content;
//   }
// }


// $break-mid: 900px;
// $break-narrow: 600px;
// $break-normal: 1360px;
// $break-wide: 1920px;

// .a11 {
//   font-size: 24px;
//   font-weight: 700;
// }

// .a12 {
//   margin-bottom: 10px;
//   margin-top: 24px !important;
//   line-height: 21px;
//   font-size: 16px;
// }

// .a14 {
//   font-size: 14px;
// }

// .mark-q-container {
//   display: flex;
//   align-items: center;
// }