.gig-index {
    .gig-index-category {
        display: flex;
        justify-content: start;
        align-items: center;

        gap: 0.5rem;

        padding-block-start: 2rem;

        font-size: 0.8rem;

        color: #404145;

        &>span:nth-child(2) {
            color: #c5c6c9;
        }

        img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .index-header {
        margin-block-start: 32px;

        h2 {
            font-weight: normal;

            span {
                font-weight: bold;
            }

            @include for-mobile-layout {
                text-align: center;
                margin: 0;
                padding-block: 0.5rem;
            }
        }

        @include for-mobile-layout {
            margin: 0;
        }
    }

    .index-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 48px;

        margin-block: 1rem;

        color: #74767e;

        font-size: 1rem;

        @include for-mobile-layout {
            padding-inline: 0.5rem;
            margin: auto;


        }
    }

    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
    }
}