.footer {
  background-color: #ffffff;

  .app-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: macan;

    background-color: #ffffff;
    color: #7c7c7c;


    & .brand {
      display: flex;
      justify-content: center;
      align-items: center;

      & .logo {
        position: relative;

        margin-inline-end: 2rem;

        font-family: macan;
        font-size: 1.8rem;
        letter-spacing: none;
        font-weight: bold;

        & .dot {
          position: absolute;
          bottom: 12px;
          right: -5px;

          width: 0.5rem;
          height: 0.5rem;

          border: 0;
          border-radius: 50%;

          background-color: #1dbf73;
        }

        @include for-mobile-layout {
          flex-direction: column;
          justify-content: center;
          align-items: start;
        }
      }

      & small {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;

        font-size: 1rem;
      }

      @include for-mobile-layout {
        flex-direction: column;
        justify-content: center;
        align-items: start;

        & p {
          font-size: 1rem;
        }
      }
    }

    & .socials {
      display: flex;
      justify-content: center;
      align-items: center;

      .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 1rem;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #1dbf73;
        }
      }

      @include for-mobile-layout {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// &__bottom {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding-top: 20px;

//   p {
//     margin: 0;
//   }
// }





// &__top {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 20px;

// }

// &__nav {
//   ul {
//     list-style: none;
//     display: flex;
//     gap: 20px;

//     li {
//       a {
//         color: #000000d0;
//         text-decoration: none;
//         font-weight: bold;
//         transition: color 0.3s;

//         &:hover {
//           color: #1dbf73;
//         }
//       }