.footer {
  // position: fixed;
  // bottom: 0;
  // width: 100vw;
  max-height: 50px;
  background-color: #ffffff;
  // border-block-start: 1px solid lightgray;

  .app-footer {


    // width: 100vw;
    background-color: #ffffff;
    color: #7c7c7c;
    // padding: 20px;
    font-family: Arial, sans-serif;

    &__brand {
      display: flex;
      align-items: baseline;

      &--name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0px;
        color: #8b8b8b;
      }

      &--dot {
        font-size: 2rem;
        font-weight: bold;
        color: #1dbf73;
        margin-right: 4px;
      }

      @include for-mobile-layout {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
    }

    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

    }

    &__nav {
      ul {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
          a {
            color: #000000d0;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;

            &:hover {
              color: #1dbf73;
            }
          }
        }
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;

      p {
        margin: 0;
      }
    }

    &__socials {
      display: flex;
      justify-content: center;
      align-items: center;

      .social-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #1dbf73;
        }
      }
    }
  }
}