.app-header {
    border-block-end: 1px solid lightgray;

    .back-drop {
        position: absolute;
        inset: 0 0 0 0;
    }

    header {
        display: flex;

        justify-content: space-between;
        align-items: center;

        min-height: 80px;

        & .logo-filter {
            display: flex;

            &>.header-logo {
                .logo {
                    @include for-mobile-layout {
                        // position: absolute;
                        // top: 0.2rem;
                        display: inline;
                        margin-inline: auto;
                        margin-block-start: 0.5rem;
                    }
                }

                .hamburger {
                    display: none;
                    height: 23px;
                    width: 26px;

                    margin: 0 15px 0 0;

                    @include for-medium-layout {
                        display: inline;
                    }

                    @include for-mobile-layout {
                        position: absolute;
                        top: 0.5rem;
                        left: 0.5rem;
                    }
                }

                @include for-mobile-layout {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    gap: 0.5rem;
                }
            }

            @include for-mobile-layout {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 0.5rem;

                width: 100%;
            }

        }


        ul {
            font-weight: bold;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            gap: 2rem;

            .fiverpro-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                gap: 0.5rem;

                margin-inline-start: 1em;
                // padding: 8px 16px;

                font-family: 'macan-semi-bold';
                font-size: 1.1rem;

                color: #2a2b2e;
                background-color: white;

                svg {
                    width: 12px;
                    height: 12px;

                    margin: 0;
                }
            }

            a:not(.link-join) {
                width: max-content;
                font-size: 1rem;
                color: #74767e;
                transition: color .5s ease, border .5s ease;

                &:hover {
                    color: rgb(3, 212, 3);
                }

                @include for-medium-layout {
                    display: none;
                }
            }

            button,
            a {

                font-size: 1rem;
                font-family: 'arial';
                font-weight: 600;
                text-decoration: none;
                color: #74767e;
                background-color: #fff;
                transition: color .5s ease, border .5s ease;

                &:hover {
                    color: #1dbf73;
                }

                @include for-medium-layout {
                    display: none;
                }
            }

            .link-join {
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                height: 2rem;

                padding: 10px 16px;
                border: 1px solid #1dbf73;
                border-radius: 4px;

                color: #1dbf73;

                font-family: 'macan-semi-bold';
                font-size: 0.9rem;
                transition: color .5s ease, border .5s ease;

                &:hover {
                    color: white;
                    background-color: #1dbf73;
                }

                @include for-medium-layout {
                    display: none;
                }
            }

            .logged-in {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;

                color: white;
                background-color: #b25d1f;

                cursor: pointer;

                &>div {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    width: 12px;
                    height: 12px;

                    border: 2px solid white;
                    border-radius: 50%;

                    background-color: #1dbf73;
                }

                @include for-mobile-layout {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
        }

        @include for-mobile-layout {
            height: min-content;
            padding-block-end: 0.5rem;
        }

    }

    svg {
        margin-inline-end: 2rem;
        cursor: pointer;
    }
}

// .nav-li-fiverpro {
//     position: relative;
// }

// .user-pro-menu-co {
//     width: 408px;
//     position: absolute;
//     top: 20px;
//     flex-direction: column;
//     background-color: #fff;
//     border-radius: 8px;

// }

// .user-pro-option {
//     border: 1px solid #e4e5e7;
//     border-radius: 8px;
//     flex-direction: row-reverse;
//     height: 100px;
//     margin: 10px;
//     padding: 10px;
//     column-gap: 16px;

// }

// .user-pro-option-text {
//     flex-direction: column;

//     & a {
//         font-weight: 600;
//         color: #404145;
//     }

//     & p {
//         font-size: 14px;
//         line-height: 21px;
//         color: #62646a;
//     }
// }

// .user-pro-option-svg {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }