.categories-bar {

    border-block-end: 1px solid lightgray;
    // padding: 0 78.5px;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 1rem;

        margin: 0;

        color: #62646a;

        font-size: 16px;

        li {

            padding: 0.3rem 0;

            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}