.gig-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));

    gap: 2rem;

    min-height: calc(100vh - 80px - 72px - 38px - 80px - 220px);
    margin: auto;

    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 350px;

        padding-inline: 0.5rem;
    }
}