.giglist-filter {
    display: flex;

    gap: 1em;

    .back-drop {
        position: absolute;
        inset: 0 0 0 0;
        z-index: 1;
    }

    &>button {
        position: relative;
        top: 0;

        z-index: 2;

        width: max-content;
        height: 40px;

        margin: 0;
        padding: 10px 20px;
        border: 1px solid lightgray;
        border-radius: 1em;

        background-color: #fff;
        color: #222325;

        font-weight: bold;
        font-size: 1rem;
        font-family: Helvetica;

        transition: 0.3s;

        &:hover {
            background: rgb(248, 244, 244);
        }
    }



    .sub-filter {
        position: absolute;
        top: 220px;
        left: 10;
        z-index: 2;

        padding: 1em;
        border-radius: 1em;
        box-shadow: 0px 0px 6px 0px;

        background-color: white;

        transition: 0.5s;

        form {
            div {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .btns {
        display: flex;
        justify-content: space-between;
    }

    .btn-apply {
        padding: 1em;
        border-radius: 0.5em;

        font-size: 1em;

        background-color: black;
    }

    .btn-clear {
        font-size: 1em;

        color: gray;
        background-color: white;

    }
}