.gig-order-list {
    border: 1px solid lightgray;
    border-radius: 4px;

    background-color: white;

    .order-grid {
        position: sticky;
        top: 195px;
        display: grid;
        grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr 1fr 1fr;
        justify-content: start;
        align-items: center;

        gap: 0.5rem;

        background-color: white;

        &>span:nth-child(2) {
            grid-column: 3;
        }
    }

    &>div {
        padding: 1rem;
        border-block-end: 1px solid lightgray;

        b {
            font-size: 1rem;
        }
    }

    ul {
        border-block-end: 1px solid lightgray;

        li {
            font-size: 0.9rem;
            border-block-end: 1px solid lightgray;
            color: gray;

            &>img {
                border-radius: 0.5rem;
            }

            &>button {
                grid-column: 2;
            }
        }
    }
}