.user-msg {
    display: flex;
    align-items: center;

    position: fixed;
    top: 80px;
    left: 10%;
    z-index: 100;
    font-size: 1em;
    font-family: macan;
    font-weight: bold;
    letter-spacing: 3px;
    border: 1px solid rgb(241, 239, 239);
    border-radius: 0.5rem;
    box-shadow: 0 0 20px 0;
    padding: 0.2em 0.5em;

    background-color: rgb(255, 255, 255);
    color: #333333;
}

.user-msg.success {
    background-color: white;
}

.user-msg.error {
    background-color: white;
}

.user-msg button {
    font-size: 3em;
    float: right;
    margin-inline-start: 1em;
}