* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.6;
}

body {
    max-width: 1024px;
    margin: 0;
    padding: 0;

    font-family: 'macan', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: rem(18px);
}

// h1,
h2,
h3,
h4,
h5,
h6 {
    //     margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    // text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}