@mixin for-mobile-layout {
  @media (min-width: $break-very-narrow) {
    @content;
  }
}
@mixin for-medium-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}
@mixin for-normal-layout {
  @media (min-width: $break-mid) {
    @content;
  }
}
@mixin for-wide-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

$break-mid: 900px;
$break-narrow: 600px;
$break-normal: 1360px;
$break-wide: 1920px;
$break-very-narrow:50px;