@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
      @content;
    }
  }
  @mixin for-wide-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  @mixin for-medium-layout {
    @media (min-width: $break-mid) {
      @content;
    }
  }
  
$break-mid: 900px;
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;
